@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");

//Resets

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

html {
	font-size: 62.5%;
}

//Variables

//Colors
$orange: #f16718;
$lightOrange: #ff9b62;
$darkBlue: #162542;
$lightBlue: #7b8bad;
$grey: #e8eff2;
$white: #fff;

//Font
$mainFont: "Barlow", sans-serif;

//Body

body {
	font-size: 1.6rem;
	font-family: $mainFont;
	font-weight: 500;
	line-height: 26px;
	color: $lightBlue;
}

//Typography

h1,
h2,
h3 {
	font-weight: 900;
	color: $darkBlue;
	text-transform: uppercase;
}

h1 {
	font-size: 4.8rem;
	line-height: 48px;
}

h2 {
	font-size: 3.2rem;
	line-height: 32px;
}

h3 {
	font-size: 2.4rem;
	line-height: 28px;
}

@media screen and (min-width: 1440px) {
	h1 {
		font-size: 5.6rem;
		line-height: 56px;
	}
}

//Mixins
@mixin flex($direction, $align, $justify) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}
